############# BACKEND JAVA SPRING BOOT 
TheCollectorsDenAPI/HELP.md
TheCollectorsDenAPI/target/
TheCollectorsDenAPI/!.mvn/wrapper/maven-wrapper.jar
TheCollectorsDenAPI/!**/src/main/**/target/
TheCollectorsDenAPI/!**/src/test/**/target/

### STS ###
TheCollectorsDenAPI/.apt_generated
.classpath
TheCollectorsDenAPI/TheCollectorsDenAPI/.factorypath
TheCollectorsDenAPI/.project
TheCollectorsDenAPI/.settings
TheCollectorsDenAPI/.springBeans
TheCollectorsDenAPI/.sts4-cache

### IntelliJ IDEA ###
TheCollectorsDenAPI/.idea
TheCollectorsDenAPI/*.iws
TheCollectorsDenAPI/*.iml
TheCollectorsDenAPI/*.ipr

### NetBeans ###
TheCollectorsDenAPI/nbproject/private/
TheCollectorsDenAPI/nbbuild/
TheCollectorsDenAPI/dist/
TheCollectorsDenAPI/nbdist/
TheCollectorsDenAPI/.nb-gradle/
TheCollectorsDenAPI/build/
TheCollectorsDenAPI/!**/src/main/**/build/
TheCollectorsDenAPI/!**/src/test/**/build/

### VS Code ###
TheCollectorsDenAPI/.vscode/

/Documentation/
/.idea/
TheCollectorsDenAPI/src/main/resources/secrets.properties
