<div class="h-screen bg-light-background text-center dark:bg-dark-background">
  <app-header [showAuthBtns]="true" [showTitle]="true"></app-header>

  <a href="/"></a>
  <div>
    <h1
      class="m-auto w-4/5 pt-[20vh] font-dynapuf text-8xl font-bold text-light-title dark:text-dark-title"
    >
      {{ "welcome.title" | translate }}
    </h1>
    <h1
      class="m-auto w-4/5 pt-[2vh] font-dynapuf text-3xl font-bold text-light-text dark:text-dark-text"
    >
      {{ "welcome.subtitle" | translate }}
    </h1>
  </div>
</div>
