<!-- Menu Trigger Button -->
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings menu">
  <ng-icon
    name="matSettingsOutline"
    class="scale-[1.4] text-light-text dark:text-dark-text"
  ></ng-icon>
</button>

<!-- Mat Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleTheme()">
    <mat-icon>brightness_6</mat-icon>
    <span>{{ 'settings.toggleTheme' | translate }}</span>
  </button>
  <button mat-menu-item (click)="toggleLocale()">
    <mat-icon>translate</mat-icon>
    <span *ngIf="getLang() === 'en'">{{
      "settings.language.french" | translate
    }}</span>
    <span *ngIf="getLang() === 'fr'">{{
      "settings.language.english" | translate
    }}</span>
  </button>
  
  <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>{{ "settings.logout" | translate }}</span>
  </button>
</mat-menu>
