<div class="flex justify-center font-dynapuf">
  <div
    class="flex h-16 w-full items-center gap-4 rounded-lg border border-light-border bg-light-container px-6 dark:border-dark-border dark:bg-dark-container"
  >
    <ng-icon
      name="matSearch"
      class="scale-[2.0] text-light-text dark:text-dark-text"
    ></ng-icon>
    <input
      type="text"
      placeholder="{{ 'searchbar.input.placeholder' | translate }}"
      class="flex-1 bg-light-container focus:outline-none focus:ring-0 focus:ring-offset-0 dark:bg-dark-container"
    />
  </div>
</div>
