<div class="h-screen bg-light-background font-dynapuf dark:bg-dark-background">
  <app-header [showAuthBtns]="false" [showTitle]="false"></app-header>

  <div class="flex flex-col items-center justify-center">
    <a routerLink="/">
      <img src="/img/logo.svg" alt="TheCollectorsDenLogo" class="h-28 w-28" />
    </a>
    <h1 class="text-2xl text-light-text dark:text-dark-text">
      {{ "login.title" | translate }}
    </h1>

    <form
      class="mt-6 flex w-[26rem] flex-col rounded-lg border border-light-border bg-light-container p-6 text-light-text dark:border-dark-border dark:bg-dark-container dark:text-dark-text"
    >
      <h2>{{ "login.email.input.label" | translate }}</h2>
      <input
        type="text"
        class="mt-2 rounded-md border border-light-border bg-light-background px-2 py-1 focus:border-light-highlight-blue focus:outline-none focus:ring dark:border-dark-border dark:bg-dark-background"
      />

      <h2 class="mt-6">{{ "login.password.input.label" | translate }}</h2>
      <input
        type="password"
        class="mt-2 rounded-md border border-light-border bg-light-background px-2 py-1 focus:border-light-highlight-blue focus:outline-none focus:ring dark:border-dark-border dark:bg-dark-background"
      />

      <button
        class="bg-light-primary dark:bg-dark-primary mt-6 rounded-lg p-2 text-white"
      >
        {{ "login.submit" | translate }}
      </button>
    </form>

    <div
      class="mt-6 flex w-[26rem] flex-col items-center rounded-lg border border-light-border bg-light-background p-6 text-center text-black dark:border-dark-border dark:bg-dark-background dark:text-white"
    >
      <h2>
        {{ "login.new.user" | translate }}
        <a
          class="text-light-primary dark:text-dark-primary underline"
          routerLink="/register"
        >
          {{ "login.create.account" | translate }}
        </a>
      </h2>
    </div>
  </div>
</div>
