<div class="h-screen bg-light-background font-dynapuf dark:bg-dark-background">
  <app-header [showAuthBtns]="false" [showTitle]="false"></app-header>

  <div class="flex flex-col items-center justify-center">
    <a routerLink="/">
      <img
        src="/img/logo.svg"
        alt="TheCollectorsDenLogo"
        class="h-16 w-16 lg:h-20 lg:w-20 xl:h-24 xl:w-24 2xl:h-28 2xl:w-28"
      />
    </a>
    <h1 class="text-2xl text-light-title dark:text-dark-title">
      {{ "login.title" | translate }}
    </h1>

    <form
      class="mt-6 flex w-[26rem] flex-col rounded-lg border border-light-border bg-light-container p-6 text-light-title dark:border-dark-border dark:bg-dark-container dark:text-dark-title"
    >
      <h2>{{ "login.email.input.label" | translate }}</h2>
      <input
        type="text"
        class="mt-2 rounded-md border border-light-border bg-light-background px-2 py-1 focus:border-light-highlight-blue focus:outline-none focus:ring dark:border-dark-border dark:bg-dark-background"
      />

      <h2 class="mt-6">{{ "login.password.input.label" | translate }}</h2>
      <input
        type="password"
        class="mt-2 rounded-md border border-light-border bg-light-background px-2 py-1 focus:border-light-highlight-blue focus:outline-none focus:ring dark:border-dark-border dark:bg-dark-background"
      />

      <button
        class="mt-6 rounded-lg bg-light-highlight-cta p-2 text-white dark:bg-dark-highlight-cta"
      >
        {{ "login.submit" | translate }}
      </button>
    </form>

    <div
      class="mt-6 flex w-[26rem] flex-col items-center rounded-lg border border-light-border bg-light-background p-6 text-center text-black dark:border-dark-border dark:bg-dark-background dark:text-white"
    >
      <h2>
        {{ "login.new.user" | translate }}
        <a
          class="hover:text-blue-800 text-light-highlight-blue underline"
          routerLink="/register"
        >
          {{ "login.create.account" | translate }}
        </a>
      </h2>
    </div>
  </div>
</div>
